
<div class="acerca-de-nosotros-main">
<div class="container">
  <h2>Acerca de Nosotros</h2>
  <div class="box-container">
    <div class="box">
      <h3>Redes Sociales</h3>
      <a href="#"><img src="assets/linkedin-icon.png" alt="LinkedIn"></a>
      <a href="#"><img src="assets/instagram-icon.png" alt="instagram"></a>
      <a href="#"><img src="assets/facebook-icon.png" alt="Facebook"></a>
    </div>
    <div class="box">
      <h3>Correo Institucional</h3>
      <p><a href="mailto:rrmarketing@gmail.com">rrmarketing&#64;gmail.com</a></p>
    </div>
    <div class="box">
      <h3>Teléfonos</h3>
      <p><a href="tel:+573166289000">3166289000</a></p>
    </div>
  </div>
  <div class="footer">
    <p>Elaborado por RRMarketing</p>
  </div>
</div>
</div>
