<div class="contacto-body">
  <div class="container">
    <header>
      <h1>Contacto</h1>
    </header>
    <form  class="contact-form">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Juan" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Martínez" required>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" placeholder="3001234567" required>
      </div>
      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" id="correo" name="correo" placeholder="ejemplo@gmail.com" required>
      </div>

    </form>
    <button type="submit">Contactenos</button>

    <div class="box-container">
      <div class="box">
        <p style="text-align:left;"><strong>Correo Institucional:</strong></p>
        <p style="text-align:left;"><strong>soporte&#64;correo.com</strong> </p>
        <p style="text-align:left;"><strong>Dirección:</strong> </p>
        <p style="text-align:left;"><strong>Calle 1 #2-3, Ciudad:</strong> </p>
        <p style="text-align:left;"><strong>Teléfono</strong> </p>
        <p style="text-align:left;"><strong>3001234567</strong> </p>
        <a href="" style="text-align:left; display: inline-block; width: 100%; ">
          <img src="assets/linkedin-icon.png" alt="LinkedIn">
          <img src="assets/instagram-icon.png" alt="instagram">
          <img src="assets/facebook-icon.png" alt="Facebook"></a>


      </div>
      <div class="box">
        <p style="text-align: center;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509613!2d144.95373531550433!3d-37.81720974201409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5770f4d0f0e6e0b!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1614008362170!5m2!1sen!2sau"
            width="300px" height="300px" style="border:0;"  allowfullscreen="" loading="lazy" title="map"></iframe>
        </p>
      </div>

    </div>


  </div>
</div>

