.contacto-body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.container {
  background-color: #fcf9f4;
  padding: 100px;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.form-group {
  flex-basis: 45%;
  margin-bottom: 15px;

}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

button {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;


}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Box styling for each section */
.box {

  width: 280PX;
  height: 300PX;
  background-color: #fcf9f4;
  padding: 20px;
  border-radius: 50px;
  text-align: center;

}

/* Social media icons */
.box img {
  width: 30px;
  margin: 0 10px;
}
