.testimonios-main {
  font-family: Arial, sans-serif;
  background-color: #efe8d8; /* Fondo beige claro */
  margin: 0;
  padding: 0;
}

.testimonios {
  text-align: center;
  padding: 50px;
}

.testimonios h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #2f2f2f; /* Color de texto oscuro */
}

.testimonio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.estrella-container {
  display: flex;
  align-items: center;
}

.estrella {
  color: #f9a825; /* Color de las estrellas - naranja */
  font-size: 40px; /* Aumenta el tamaño de las estrellas */
  margin: 0 4px; /* Aumenta el espacio entre las estrellas */
}

.cliente {
  margin-left: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-azul {
  background-color: #37474f; /* Fondo gris oscuro */
  border: 3px solid #2196f3; /* Borde azul */
  color: white; /* Color del ícono */
}

.avatar-verde {
  background-color: #6d4c41; /* Fondo marrón */
  border: 3px solid #4caf50; /* Borde verde */
  color: white; /* Color del ícono */
}

.avatar i {
  font-size: 24px;
}

.testimonio:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
