<div class="testimonios-main">

<section class="testimonios">
  <h1>TESTIMONIO CLIENTES</h1>

  <div class="testimonio">
    <div class="estrella-container">
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
    </div>
    <div class="cliente">
      <div class="avatar avatar-azul">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

  <div class="testimonio">
    <div class="estrella-container">
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star"></i>
      <i class="estrella fas fa-star-half-alt"></i>
    </div>
    <div class="cliente">
      <div class="avatar avatar-verde">
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>

</section>

</div>
