<div class="gestion-de-servicios-main">
<div class="container">
  <header>
    <div class="Titulo2">
      <h1>GESTION DE SERVICIOS</h1>
    </div>
  </header>
  <article class="tabla">
    <table>
      <caption></caption>
      <thead>
      <tr>
        <th>Servicio ID</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Costo</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of services">
        <td>{{service.id}}</td>
        <td>{{service.description}}</td>
        <td>{{service.state}}</td>
        <td>${{service.cost}}</td>
        <td>
          <button mat-icon-button (click)="turnService(service)">
            <mat-icon [ngStyle]="{'color': service.state == 'En espera' ? 'gray' : 'green'}">
              power_settings_new
            </mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteService(service)">
            <mat-icon [ngStyle]="{'color':'red'}">delete</mat-icon>
          </button>

        </td>
      </tr>
      </tbody>
    </table>
  </article>
</div>
</div>

