<div class="gestion-de-servicios-main">
<div class="container">
  <header>
    <div class="Titulo2">
      <h1>GESTION DE SERVICIOS</h1>
    </div>
  </header>
  <article class="tabla">
    <table>
      <caption></caption>
      <thead>
      <tr>
        <th>Servicio ID</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Costo</th>
        <th>Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of services">
        <td>{{service.id}}</td>
        <td>{{service.description}}</td>
        <td>{{service.state}}</td>
        <td>${{service.cost}}</td>
        <td>
          <img style="width: 30px; height: 30px; margin-right: 20px; margin-left: 20px" src="assets/cancelar.png" alt="">
          <img style="width: 30px; height: 30px; margin-right: 20px; margin-left: 20px" src="assets/lapiz.png" alt="">
          <img style="width: 30px; height: 30px; margin-right: 20px; margin-left: 20px" src="assets/papelera.png" alt="">
        </td>
      </tr>
      </tbody>
    </table>
  </article>
</div>
</div>

