<!-- Contenedor -->
<div class="home-main">
<div class="container mt-2">
  <!-- div central -->
  <div class="fotos">
    <img id="foto1" src="../../../assets/Frontal.jpeg" alt="foto" >

  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="row">
      <div class="col-md-4">
        <h6>Nuestros Servicios</h6>
        <img class="img" src="assets/Servicos.jpg" alt="">
      </div>
      <div class="col-md-4">
        <h6>Testimonio de clientes</h6>
        <img class="img" src="assets/istockphoto-1359876068-612x612.jpg" alt="">
      </div>
      <div class="col-md-4">
        <h6>Catalogo</h6>
        <img class="img" src="assets/Computadoras_accesorios.jpg" alt="">
      </div>

    </div>

  </div>

</div>

</div>

