<!-- Contenedor -->
<div class="home-main">
<div class="container mt-2">
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a  class="navbar-brand" routerLink="/home">Web Masters</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/home">Inicio</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link"  routerLink="/acerca-de-nosotros">Acerca De</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" routerLink="/productos" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown" routerLink="/gestion-de-servicios" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLink="/contacto"  aria-disabled="true">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/login"  aria-disabled="true">Login</a>
          </li>
        </ul>
        <div class="header-user">
        <ng-container *ngIf="user">
          <span >{{user.firstName + " " + user.LastName}}</span><br>
          <button mat-icon-button  [matMenuTriggerFor]="afterMenu">
            <mat-icon [ngStyle]="{'height': '30px', 'color':'black'}">account_circle</mat-icon>
          </button>
          <mat-menu #afterMenu="matMenu" xPosition="after">
            <button (click)="logout()" mat-menu-item type="submit">Sign Out</button>
          </mat-menu>
        </ng-container>
        </div>

      </div>
    </div>
  </nav>

  <!-- div central -->
  <div class="fotos">
    <img id="foto1" src="../../../assets/Frontal.jpeg" alt="foto" >

  </div>
  <!-- Footer -->
  <div class="footer">
    <div class="row">
      <div class="col-md-4">
        <h6>Nuestros Servicios</h6>
        <img class="img" src="assets/Servicos.jpg" alt="">
      </div>
      <div class="col-md-4">
        <h6>Testimonio de clientes</h6>
        <img class="img" src="assets/istockphoto-1359876068-612x612.jpg" alt="">
      </div>
      <div class="col-md-4">
        <h6>Catalogo</h6>
        <img class="img" src="assets/Computadoras_accesorios.jpg" alt="">
      </div>

    </div>

  </div>

</div>

</div>

