<div class="productos-main">
<div class="container">
  <header>
    <div class="Titulo">
      <h1>CATALOGO</h1>
    </div>
    <div class="Img1">
      <img style="width: 50px; height: 50px;" src="assets/lupa.png" alt="">
      <img style="width: 50px; height: 50px;" src="assets/carrito.png" alt="">
    </div>
  </header>
  <div>
    <nav>
      <button name="productos"><b>PRODUCTOS</b></button>
      <button name="Promociones"><b>PROMOCIONES</b></button>
    </nav>
  </div>
  <article>
    <button>&#9664;</button>
    <div class="producto">
      <h3>Computador Portátil LENOVO IdeaPad Slim 5 14" Pulgadas 14IAH8"</h3>
      <p>Intel Core i5 - RAM 16GB - Disco SSD 512GB - Gris</p>
      <p>COP 2,299,000</p>
      <img style="width: 200px; height: 170px;" src="assets/producto1.jpg" alt="producto1">
    </div>
    <div class="producto">
      <h3>Monitor SAMSUNG 24" Pulgadas</h3>
      <p>T350F Gris-Azul</p>
      <p>COP 479,900</p>
      <img style="width: 200px; height: 150px;" src="assets/producto2.jpg" alt="producto2">
    </div>
    <div class="producto">
      <h3>Disco Duro TOSHIBA</h3>
      <p>1TB USB 3.0 Canvio Basics</p>
      <p>COP 309,900</p>
      <img style="width: 200px; height: 150px;" src="assets/producto3.jpg" alt="producto3">
    </div>
    <div class="producto">
      <h3>Computador All in One HP 23.8" Pulgadas Cb1027la</h3>
      <p>Intel Core i5 - RAM 8GB - Disco SSD 512 GB - Negro</p>
      <p>COP 2,299,000</p>
      <img style="width: 200px; height: 150px;" src="assets/producto4.jpg" alt="producto4">
    </div>
    <button>&#9654;</button>
  </article>

</div>
</div>

