<div class="login-main">
<main>
  <div class="contenedor__todo">
    <div class="caja__trasera">

      <div class="caja__trasera-login" id="caja__trasera-login">
        <h3>¿YA TIENES UNA CUENTA?</h3>
        <p>Inicia session para entrar en la aplicacion</p>
        <button id="btn__iniciar-sesion" (click)="login()">Iniciar Sesion</button>
      </div>
      <div class="caja__trasera-register" id="caja__trasera-register">
        <h3>¿Aun no tienes una cuenta?</h3>
        <p>Registrarse pra iniciar sesion</p>
        <button id="btn__registrarse" (click)="sigUp()">Registrarse</button>
      </div>
    </div>

    <div class="contenedor__login-registar" id="contenedor__login-registar">

      <form  class="formulario__login" id="formulario__login" [formGroup]="form">
        <h2>iniciar sesion</h2>
        <input type="text" placeholder="correo electronico" formControlName="email" matInput>
        <input type="password" aria-placeholder="contraseña" formControlName="password" matInput>
        <br/> <br/>
        <a  (click)="loginUser()">Entrar</a>
      </form>



      <form  class="formulario_register" id="formulario_register" [formGroup]="signupForm">
        <h2>Registrarse</h2>
        <input type="text" placeholder="Nombre Completo" formControlName="firstName" matInput>
        <input type="text" placeholder="Correo Electronico" formControlName="email" matInput>
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña" formControlName="password" matInput>
        <a (click)="signUpUser()">Registrarse</a>

      </form>
      <pre>{{form.value | json}}</pre>

    </div>

  </div>
</main>
</div>

